.register_navbar{
	height:70px;
	background-color:white;
	display:block;
	margin:0;
	padding:0;
}

.register_button_connexion{
	background-color:$main-blue;
	border:none;
	border-radius:5px;
	color:white;
	font-weight:bold;
	width:200px;
	height:40px;
	float:right;
	margin-top:15px;
	margin-right:40px;
	font-family:"amiko",sans-serif;
	font-size:14px;
	cursor:pointer;
}

.register_container{
	background-color:rgba(47,61,77,0.8);
	z-index:10;
	height:calc(100vh - 70px);
	border:1px solid transparent;
	display:flex;
}
.register_container::before{
	content:"";
	position:absolute;
	z-index:-1;
	top:70px;
	left:0;
	background: url('../img/entrepot.jpg');
	width:100%;
	height:calc(100vh - 70px);
}


/* tous les elements de la partie gauche */
.register_div_gauche{
	flex:1.3;
	position: relative;
}

.register_container_texte{
	width:100%;
	color:white;
	font-family:'amiko',sans-serif;
	position:absolute;
	top:40%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:20px;
}

.register_title{
	font-size:2.3em;
	font-weight:bold;
	margin:0 1em 0 0;
}

.register_bluetxt{
	color:$main-blue;
}

.register_texte{
	display:block;
	font-size:1.2em;
	margin-top:1em;
	font-weight:bold;
}


/* tous les elements de la partie droite */
.register_div_droite{
	flex:1.2;
	position:relative;
}

.register_form_container{
	background-color:#F2F1F1;
	border-radius:5px;
	width:30em;
	height:90%;
	margin-top:5%;
	position:relative;
}

.register_infos_container{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:80%;
	text-align:center;
}

.register_title_inscription{
	color:#605A5A;
	font-weight:bold;
	font-size:30px;
	margin-bottom:0.5em;
}

.register_input{
	background-color:white;
	border:none;
	border-radius:5px;
	text-align:center;
	height:1.9em;
	width:90%;
	margin-top:0.4em;
	margin-bottom:0.4em;
	box-shadow: inset 0 0 2px #000;
}

.ajout_entrepot_input_select{
	background-color:white;
	border:none;
	border-radius:5px;
	text-align:center;
	height:1.9em;
	width:90%;
	margin-top:0.4em;
	margin-bottom:0.4em;
	box-shadow: inset 0 0 2px #000;	
}


.register_input::placeholder{
	color:rgb(212, 207, 207);
}

.register_input:focus{
	outline-width: 0;
}

.register_text_mdp{
	font-size: 0.8em; 
	color: $dark-grey; 
	text-align: left; 
	padding-left: 1.5em; 
	margin: 0; 
}

.register_button_inscription{
	background-color:$main-blue;
	border:none;
	border-radius:5px;
	color:white;
	font-weight:bold;
	width:90%;
	height:40px;
	margin-top:1em;
	font-family:"amiko",sans-serif;
	font-size:14px;
	cursor:pointer;
}

.register_texte_mdp{
	color:rgb(175, 167, 167);
	font-family:"amiko",sans-serif;
	font-size:18px;
}

.register_button_connexion:hover, .register_button_inscription:hover {
	background-color:$main-blue;
}