.connexion_navbar{
	height:70px;
	background-color:white;
	display:block;
	margin:0;
	padding:0;
}

.connexion_button_connexion{
	background-color:#64c1f0;
	border:none;
	border-radius:5px;
	color:white;
	font-weight:bold;
	width:200px;
	height:40px;
	float:right;
	margin-top:15px;
	margin-right:40px;
	font-family:"amiko",sans-serif;
	font-size:14px;
	cursor:pointer;
}

.connexion_container{
	background-color:rgba(47,61,77,0.8);
	z-index:10;
	height:calc(100vh - 70px);
	border:1px solid transparent;
	display:flex;
}
.connexion_container::before{
	content:"";
	position:absolute;
	z-index:-1;
	top:70px;
	left:0;
	background: url('../img/entrepot.jpg');
	width:100%;
	height:calc(100vh - 70px);
}

.connexion_form_container{
	text-align:center;
	background-color:#F2F1F1;
	border-radius:5px;
	width:400px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.connexion_title{
	padding-top:30px;
	color:#605A5A;
	font-weight:bold;
	font-size:30px;
	margin:5px;
	margin-bottom:30px;
}

.connexion_input{
	background-color:white;
	border:none;
	border-radius:5px;
	text-align:center;
	height:40px;
	width:80%;
	margin-left:10%;
	margin-top:10px;
	margin-bottom:10px;
	box-shadow: inset 0 0 2px #000;
	display:block;
}

.connexion_button{
	background-color:#64c1f0;
	border:none;
	border-radius:5px;
	color:white;
	font-weight:bold;
	width:80%;
	height:40px;
	margin-top:10px;
	margin-bottom:30px;
	font-family:"amiko",sans-serif;
	font-size:14px;
	cursor:pointer;
}

.connexion_button:hover, .connexion_button_connexion:hover {
	background-color:#3398ca;
}

.connexion_input::placeholder{
	color:rgb(212, 207, 207);
}

.connexion_input:focus{
	outline-width: 0;
}