.cotations_container_title{
    display:block;
    font-family:"Montserrat", sans-serif;
    position: relative;
}

.cotations_title_page{
    font-size:1.4em; ;
    font-weight:600;

    letter-spacing: 1.5px;
    display:inline-block;
    color: $dark-grey; 
}

.cotations_button_filter{
    position:absolute;
    right:0;
    top:50%;
    transform: translate(0,-50%);
    border:none;
    background-color:#31aade;
    color:white;
    border-radius: 5px;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    transition:0.7s;
}

.cotations_sous_title{
    font-weight:550;
    color:$dark-grey;
    font-size:1.2em;
    margin-top:50px
    
}

.contenu_page_contations_grand{
    width:calc(100vw - 250px);
    background-color:#f8f8f8;
    padding:50px;
    position:relative;
    overflow:hidden;
    transition:0.7s;
}

.contenu_page_contations_petit{
    width:calc(100vw - 620px);
    background-color:#f8f8f8;
    padding:50px;
    position:relative;
}

.container_infos_supp{
    position:fixed;
    width:400px;
    height:calc(100vh - 60px);
    background-color:#ebebeb;
    top:60px;
    right:0;
    transform: translate(calc(100%));
    padding:20px;
    text-align: center;
}

.infos_supp_no_selected{
    font-weight:500;
    position: relative;
    top:50%;
    text-align:center;
    transform: translate(0,-50%);
    color:#6e6e6e;
    text-align:center;
}

.table_cotations{
    width:100%;
    padding:5px;
    border-collapse: collapse;
    color:#707070;
    font-weight:500;
    
}

.container_cotation_title{
    border:none;
    height:50px;
    border-bottom:1px solid #cacaca
}

.container_cotation{
    border:none;
    height:50px;
    cursor:pointer;
    border-bottom:1px solid #cacaca
}

.container_cotation:hover{
    background-color: #eeecec;
}

.container_cotation .contenu_page_contations{
    width:calc(100vw - 620px);
    overflow:visible;
}

.rondStatut{
    display:inline-block;
    height:15px;
    width:15px;
    border-radius:50%;
    margin-right:10px;
    transform: translate(0,2px)
}

.infos_cotations_txt{
    font-size: 0.9em; 
    font-weight: 450; 
    color: $dark-grey
}
.infos_cotations_column{
    padding-left:5px;
    border:none;
    color: $dark-grey; 
    font-weight: 550; 
    font-size: 1em; 
    position: relative;    
}

.container_center_infos_supp{
    position:absolute;
    top:50%;
    transform: translate(-50%,-50%);
    width:100%;
    left:50%;
    font-weight:500;
}

.infos_supp_title{
    font-size:25px;
    margin:0;
    color:#6e6e6e;
    padding:10px
}

.infos_supp_ref{
    font-size:18px;
    color:#6e6e6e;
    margin:10px 0 10px 0;
}

.infos_supp_white_container{
    background-color:white;
    color: $dark-grey; 
    border-radius:10px;
    padding:25px;
    margin-top:20px;
    display:inline-block;
    width:90%;
}

.infos_supp_txt{
    color:#6e6e6e;
    margin-top:15px;
    margin-bottom:15px;
}

.infos_supp_button{
    border:none;
    background-color: #16376D;
    color:white;
    font-weight:500;
    padding:15px;
    border-radius:5px;
    width:100%;
    margin-top:10px;
    cursor:pointer;

}

.button_close_infos_supp{
    position:absolute;
    border:none;
    background-color: transparent;
    top:15px;
    right:10px;
    color:#6e6e6e;
    cursor:pointer;
}

.container_demande_attente_fournisseur{
    background-color:#16376D;
    border-radius:5px;
    color:white;
    padding:15px;
    margin-top:20px;
    font-weight:600;
    cursor:pointer;
}

@media(min-width: 577px) and (max-width: 992px) {
    .contenu_page_contations_grand{
        width:100vw;
    }
    .contenu_page_contations_petit{
        width:100vw;
    }
    .container_infos_supp{
        width:100vw;
    }
}

@media(max-width:1200px){
    .cotations_sous_title{
        font-size:15px;
    }
    .container_demande_attente_fournisseur, .container_cotation, .container_cotation_title,.cotations_button_filter,.infos_supp_txt,.infos_supp_button{
        font-size:12px;
    }

}