
// Main containers


.entrepot_contact_main_container{
    display: flex; 
    margin: 1em 6%; 
}



.entrepot_box_small{
    min-height: 11rem;
}

.entrepot_box_very_small{
    min-height: 7rem; 
}
.entrepot_box_big{
    min-height: 21rem; 
}




// 
.entrepot_infos_resume_ligne{
    display: flex; 
    margin: 0.5rem 5%; 
}
.entrepots_infos_resume_input_div{
    flex:1; 
    display: flex;
}


.entrepot_infos_image{
    max-height: 3em;     
    height: auto; 

}

.entrepots_infos_container_droite_divise_deux{
    display: flex; 
    margin-top: 2em; 
}

.entrepots_infos_droite_small_box_left{
    flex: 1; 
    margin-right: 5%; 
    border-radius:8px;
    overflow:hidden;
    margin-top: 0.6em; 
    background-color: white;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    min-height: 10em; 
}
 
.entrepots_infos_droite_small_box_right{
    flex: 1; 
    margin-left: 5%; 
    border-radius:8px;
    overflow:hidden;
    margin-top: 0.6rem; 
    background-color: white;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    min-height: 10em;     
}
.entrepot_infos_title_box{
    margin-top: 2em; 
    text-align: left; 
    font-size: 0.9em; 
    font-weight: 500;
    color: $dark-grey; 
}


.entrepot_infos_produits_lign{
    display: flex; 
    margin-top: 0.8rem;     
}


.entrepot_infos_temperature_sublign{
    display: flex; 
}
.entrepot_stockage_autres_services_log{
    display: inline-block; 
    margin-top: 1em;
    margin-bottom: 0.2em; 
    text-align: left; 
}



// Labels: 

.entrepots_infos_label{
    flex: 1.2; 
}
.entrepot_infos_produits_label{
    font-size: 0.85em; 
    flex: 1; 
    margin-top: 1rem; 
    padding-left : 1.1rem; 
    text-align: left; 
}
.entrepot_conditions_min_label{
    font-size: 0.85em; 
    flex: 1; 
    margin-top: 1rem; 
    padding-left : 1.1rem; 
    text-align: left; 
}

.entrepot_heure_ouverture_label{
    font-size: 0.85em; 
    margin-top: 1rem; 
    margin-left : 1em; 
    margin-right: 1em;
    text-align: center;     
}



// INPUTS: 
.entrepots_infos_input{
    background-color:#f8f8f8;
    border:none; 
    padding: 0;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);  
    border-radius: 5px; 
    height: 1.5em;    
}
.entrepot_infos_temperature_1e_col{
    flex: 6; 
}
.entrepot_infos_temperature_2e_col{
    display: inline-block; 
    flex: 6;     
}
.entrepot_infos_input_temperature{
    margin: 0 5%; 
    border:none;
    background-color: white;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    padding: 0px 10px;
    border-radius:5px;
    height: 1.7rem; 
    font-size: 0.75em; 
    flex: 2; 
}

.entrepot_infos_input_temperature_2{
    height: 1.4rem; 
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: white;
}

.entrepot_infos_produits_stockes_input{
    height: 3rem; 
    font-size: 0.85em; 
    flex: 2; 
    margin-right: 1.1em; 
    background-color: white; 
}
.entrepot_min_commande_input{
    height: 2rem; 
    font-size: 0.85em; 
    flex: 1; 
    margin-right: 1.1em; 
    background-color: white;    
}
.entrepot_heure_ouverture_input{
    font-size: 0.85em; 
    max-width: 5em;
    margin-left: 0.1em; 
    margin-right: 0.1em; 
    background-color: white;  
    height: 2rem; 
}


// INPUTS - Select


.entrepots_stockage_services_logistiques_select{
	font-size: 0.8rem; 
	padding: 0.5em 3% 0.5em 3%; 
}
.entrepots_stockage_certifications_select{
	font-size: 0.8rem; 
    flex: 2; 
    margin-right: 3%; 
    z-index: 4
}
.entrepot_jours_ouverture_select{
	font-size: 0.8rem; 
    flex: 1; 
    margin-right: 3%; 
    z-index: 4    
}

.entrepot_box_title {
    font-size: 1.1em; 
    padding-top: 1em; 
    text-align: left; 
    padding-left: 1.1rem;
    font-weight: 500;
    padding-bottom: 1em; 
}


.entrepot_contact_title_button_container{
  display: flex;
  align-items: center;
}
.entrepot_contact_title_page_container{
  flex: 2;
  min-width: 60%;
}
.entrepot_contact_button_ajouter_contact_container{
  float: right;
  flex: 2;
  max-width: 40%
}
// Separation au sein d'une meme ligne dans une Box




@media (max-width:550px){
  .entrepot_infos_resume_lign {
    text-align: center;
    display: block;
  }
  .entrepot_box_title, .entrepot_stockage_temperature_title_container, .entrepot_infos_input_resume, .entrepot_stockage_temperature_input, .entrepot_stockage_temperature_label, .entrepot_stockage_temperature_container_input, .entrepot_stockage_title_sous_partie, .entrepot_services_log_et_clients_label {
    text-align: center;
  }
  .entrepot_infos_resume_subcontainer{
    padding-bottom: 2em;
  }
  .entrepot_stockage_temperature_line, .entrepot_stockage_temperature_range_lign, .entrepot_stockage_temperature_ligne_ajout {
    display: block;
  }
  .entrepot_stockage_temperature_range_container, .entrepot_stockage_temperature_volume_container {
    display: inline-flex;
  }
  .entrepot_stockage_temperature_range_lign, .entrepot_stockage_temperature_range_label_margin_left{
    margin-left:0;
  }
  .entrepot_stockage_temperature_input, .entrepot_stockage_temperature_ligne_ajout{
    margin-right: 0;
  }
  .entrepot_stockage_temperature_label, .entrepot_services_log_et_clients_label{
    padding-left:0
  }
  .entrepot_clients_lign {
    display: block;
    text-align: center;
  }
  .entrepot_clients_input{
    margin-right: 0;
  }


}
@media (max-width:700px) {
  .contenu_page {
    padding: 15px 50px;
  }
  .entrepot_infos_resume_subcontainer {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
  }
  .entrepot_infos_resume_column_edit {
    display: block;
  }
  .entrepot_infos_resume_label_edit {
    flex: 1;
  }
  .entrepot_infos_input_resume {
    flex: 1;
    max-width: none;
    margin-right: 0;
  }

}
@media (max-width:1100px){
  .entrepot_onglets_container {
    display: block;
    margin: 20px 50px 0px 50px;
  }
  .entrepot_onglet_selectionne {
    background: $dark-blue;
    width: 100%;
    border: 2px solid $dark-blue;
    border-radius: 5px;
    padding-bottom: 0.6rem;
    color: #fff;
    margin: 2px 0px;
  }
  .entrepot_onglet_non_selectionne {
    background: transparent;
    width: 100%;
    border: 2px solid $dark-blue;
    border-radius: 5px;
    padding-bottom: 0.6rem;
    color: $dark-blue;
    margin: 2px 0px;
  }
  .entrepot_infos_main_container {
        display: block;
  }
  .contenu_page, .contenu_page_full_width{
        width:100%;
  }
  .div_with_big_bottom_padding {
    padding-bottom: 0;
  }
  .entrepot_infos_description_box {
    margin-left: 0;
  }
  .entrepot_stockage_main_container {
    display: block;
  }
  .entrepot_securite_main_container {
    display: block;
  }
  .entrepot_box_temperature_stockage{
    margin-bottom: 2em;
  }
  .entrepot_infos_dispo_box {
    margin-bottom: 2em;
  }
  .entrepot_box{
    margin-bottom:2em;
  }
  .entrepots_infos_container_droite_divise_deux{
    margin-top: 0;
  }
  .entrepot_contact_container{
    width:100%;
  }
  .entrepot_clients_main_container {
    display: block;
  }
}


