.facture_infos_supp_title{
    font-size:1.6em;
    margin:0;
    color:$dark-grey;
}

.facture_infos_supp_title_light{
    font-size:1em;
    margin:0;
    color:$dark-grey;
}

.facture_infos_supp_montant_txt{
    color: $dark-grey; 
    font-size: 1em; 
    margin-bottom: 2.4em; 
}

.facture_infos_supp_txt{
    color: $middle-grey; 
    font-size: 0.85em; 
    margin-bottom: 1.4em; 

}