body{
	font-family:"montserrat", sans-serif,
}

.navbar{
	height:60px;
	background-color:white;
	border:none;
	padding:0;
	z-index:10;
	position:fixed;
	box-shadow: 0 4px 5px rgba(10, 10, 10, 0.2);
	width:100vw;
}

.navbar_container_logo{
	background-color: #16376D;
	height:60px;
	width:220px;
	text-align:center;
	display:inline-block;
	position:relative;
	z-index:20;
	border-bottom:0.5px solid white
}

.navbar_logo{
	position:relative;
	margin: auto; 
	margin-top: 0.5rem; 
	padding: auto; 
	height: 2rem; 
}

.navbar_container_droite{
	display:inline-block;
	float:right;
	margin-right:50px;
}

.navbar_usermail{
	font-weight:500;
	line-height:60px;
	padding:0 20px 0 0;
	float:left;
}

.navbar_profile{
	border-radius:50%;
	background-color:#16376D;
	height:40px;
	width:40px;
	float:left;
	margin-top:10px;
	margin-right:20px;
	cursor:pointer;
	text-align:center;
	color:white;
	font-size:35px;
	padding-top:5px;
	border:2px solid #16376D;
	position:relative;
	overflow:hidden;
}

.container_deconnexion{
	position:absolute;
	top:60px;
	right:20px;
	padding:10px;
	background-color:rgb(221, 221, 221);
	border-radius: 10px;
}

.container_deconnexion::before{
	content:"";
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	width:20px;
	height:5px;
	position:absolute;
	top:0;
	background-color: rgb(219, 219, 219);
	left:50%;
	transform: translate(-50%,-100%);
}

.container_deconnexion_button{
	border:none;
	color:white;
	background-color:#16376D;
	padding:10px;
	border-radius: 5px;
	cursor: pointer;
}

.container_page{
	display:flex;
	background-color:#f8f8f8;
	position:relative;
	padding-top:60px;
	padding-left:220px;
	min-height:100vh
}

.sidebar{
	width:220px;
	background-color:#16376D;
	position: fixed;
	top:60px;
	left:0px;
	height:calc(100vh - 60px);
}

.sidebar_element_container{
	padding-top:50px;
	padding-bottom:50px;
	background-color:#16376D;
	margin:0;
	height:auto;
}



.sidebar_elements{
	font-weight:500;
	border:none;
	font-size:15px;
	color:white;
	background-color:#16376D;
	width:100%;
	height:60px;
	cursor:pointer;
	margin-top:5px;
	margin-bottom:5px;
	text-align:left;
	padding-left:30px;
}

.sidebar_sous_elements{
	font-weight:500;
	border:none;
	font-size:13px;
	color:white;
	background-color:rgb(11, 31, 63);
	width:100%;
	height:60px;
	cursor:pointer;
	text-align:left;
	padding-left:30px;
}

.sidebar_page_element{
	font-weight:800;
	border:none;
	font-size:16px;
	color:white;
	background-color:#16376D;
	width:100%;
	height:60px;
	cursor:pointer;
	margin-top:5px;
	margin-bottom:5px;
	text-align:left;
	padding-left:30px;
	position:relative;
}

.sidebar_page_element:hover, .sidebar_elements:hover {
	background-color: rgb(11, 31, 63);
}

.sidebar_page_element:focus, .sidebar_elements:focus {
	outline-width: 0;
}

.sidebar_page_element::after{
	content:"";
	position:absolute;
	background-color:#f8f8f8;
	width:4px;
	height:100%;
	top:50%;
	left:0px;
	transform: translate(0,-50%);

}


.sidebar_element_icon{
	margin-right:20px;
	width:25px
}

.cotation_icon{
	transform: rotate(90deg)translate(-1px);
	font-size:11px;
	margin-left:5px
}


.contenu_page{
	background-color:#f8f8f8;
	width:calc(100vw - 220px);
	padding:50px
}
.contenu_page_full_width{
	background-color:#f8f8f8;
	width:calc(100vw - 220px);
	padding:0px	
}

.menuBurger{
	display:none;
}

@media(min-width: 577px) and (max-width: 992px) {
    .sidebar{
		left:-250px;
		transition: 0.7s;
		z-index:50;
	}
	.navbar_container_logo{
		width:100%;
		border:none;
	}
	.navbar_usermail{
		display:none;
	}
	.navbar_profile{
		position:absolute;
		right:10px;
		margin:0;
		top:10px;
		z-index:21;
	}
	.menuBurger{
		display:inline-block;
		z-index: 21;
		position:absolute;
		left:10px;
		top:50%;
		transform: translate(0,-50%);
		color:white;
		font-size:30px;
		cursor: pointer;
	}
	.container_page{
		padding:60px 0 0 0;
	}
	.contenu_page{
		width:100vw;
	}
}

@media (min-width:993px) {
	.sidebar{
		left:0px !important;
	}
}

.small-margin-top{
	margin-top: 0.6rem; 
}