.entrepot_contact_valider_modifications{
    background-color: #16376D;
    color:white;
    margin: 0 0 20px 40px;
    border:none;
    padding:15px;
    font-weight: 500;
    border-radius:5px;
    cursor:pointer;
}

.entrepot_contact__div_ajouter_devis{
    border-radius:10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    max-width:900px;
    background-color:#f8f8f8;
}

.entrepot_contact_button_ajouter_contact{
    background-color: #16376D;
    color:white;
    margin-top:20px;
    border:none;
    padding:15px;
    font-weight: 500;
    border-radius:5px;
    cursor:pointer;
}