// Main containers: 
.entrepot_stockage_main_container{
    display: flex
}
.entrepot_stockage_container_gauche{
    flex: 2; 
    text-align: center; 
}
.entrepot_stockage_container_droite{
    flex: 1.5; 
    text-align: center; 
}


// Stockage: 
.entrepot_box_temperature_stockage{
    min-height: 14em; 
}

.entrepot_stockage_temperature_title_container{
    display: flex; 
    text-align: left; 
}
.entrepot_stockage_temperature_container{
    margin: 1.3em 5%; 
    border-radius: 5px; 
    border: 0.8px solid $light-grey; 
}

.entrepot_stockage_temperature_title{
    font-size: 0.9em; 
    font-weight: 600; 
    flex: 1; 
    padding: 1.1em; 
}
.entrepot_stockage_temperature_boolean_container{
    flex: 1.5
}
.entrepot_stockage_temp_boolean{
    background-color: white;
    color: $middle-grey; 
    border: 0.5px solid $light-grey; 
    border-radius: 5px; 
    padding-top: 0.5em; 
    padding:1em;
    height: 2em; 
    max-width: 5em; 
    font-size: 0.9em;    
    margin-top: 0.7em;  
}
.entrepot_stockage_temperature_line{
    display: flex; 
}
.entrepot_stockage_temperature_last_line{
    margin-bottom: 1em; 
}
.entrepot_stockage_temperature_label{
    padding-left: 1.1em; 
    padding-top: 0.6em; 
    margin-top: 0.5em; 
    font-size: 0.8em; 
    color: $dark-grey; 
    text-align: left; 
    flex: 1
}
.entrepot_stockage_temperature_container_input{
    flex: 1; 
    text-align: right; 
}
.entrepot_stockage_temperature_input{
    margin-right: 1.5em; 
    max-width: 8em; 
    margin-top: 0.5em;  
    position: relative;
    border-radius: 5px; 
    font-size: 0.8rem; 
    padding-left: 0.6em; 
    height: 2em; 
    border: 0.5px solid $light-grey; 
}
.entrepot_stockage_title_sous_partie{
    font-weight: 550; 
    font-size: 0.8em; 
    margin-top: 1.5em; 
    text-align: left; 
    padding-left: 1.1em; 
}
.entrepot_stockage_temperature_range_lign{
    display: flex; 
    margin-left: 1em
}
.entrepot_stockage_temperature_range_label{
    font-size: 0.85em; 
    color: $dark-grey; 
}
.entrepot_stockage_temperature_range_input{
    max-width: 2em; 
    height: 2em; 
    margin-left: 1em; 
    margin-right: 1em; 
    border-radius: 5px; 
    border: 0.5px solid $light-grey; 
    font-size: 0.8em; 
    margin-top: 0.5em; 
    padding-left: 1em; 
}
.entrepot_stockage_temperature_volume_container{
    display: flex; 
    text-align: right; 
}
.entrepot_stockage_temperature_range_container{
    display: flex; 
}
.entrepot_align_right{
    text-align: right; 
}

.entrepot_stockage_temperature_volume_input{
    margin-right: 1.5em; 
    margin-left: 1em; 
    max-width: 8em; 
    margin-top: 0.5em;  
    position: relative;
    border-radius: 5px; 
    font-size: 0.8rem; 
    padding-left: 0.6em; 
    height: 2em; 
    border: 0.5px solid $light-grey;     
}
.entrepot_stockage_temperature_ligne_ajout{
    text-align: right; 
    display: flex; 
    margin-right: 1em; 
    margin-bottom: 1em; 
    margin-top: 0.5em; 
}
.entrepot_button_add_temperature_range{
    background-color: $dark-blue; 
    height: 1.7rem; 
    margin-left: 1.2em; 
    color: white; 
    border-radius: 5px;
    font-size: 0.9em; 
    width: 1.8em
}
.entrepot_button_remove_temperature_range{
    background-color: red; 
    height: 1.7rem; 
    margin-left: 1.2em; 
    border-radius: 5px;
    color: white; 
    font-size: 0.9em; 
    width: 1.8em
}
.entrepot_stockage_temperature_range_label_margin_left{
    margin-left: 2em; 
}



.entrepot_it_line{
    display: flex; 
    margin-bottom: 1em; 
    margin-top: -0.7em; 
}
.entrepot_it_label{
    padding-left: 1.1em; 
    padding-top: 0.6em; 
    margin-top: 0.5em; 
    font-size: 0.8em; 
    color: $dark-grey; 
    text-align: left; 
    flex: 1
}
.entrepot_it_container_input{
    flex: 1; 
    text-align: right; 
}
.entrepot_it_input{
    margin-right: 1.5em; 
    max-width: 8em; 
    margin-top: 0.5em;  
    position: relative;
    border-radius: 5px; 
    font-size: 0.8rem; 
    padding-left: 0.6em; 
    height: 2em; 
    border: 0.5px solid $light-grey; 
}





// Produits et clients: 

.entrepot_services_log_et_clients_label{
    font-size: 0.8em; 
    padding-top: 1.2em; 
    margin-bottom: 0.5em; 
    text-align: left; 
    padding-left: 1.1rem;
    font-weight: 450; 
    min-width: 93%
}
.entrepot_input_clients{
    min-height: 4em; 
    background-color: white; 
    margin-top: 0.5em; 
    text-align: left; 
    padding-left: 1.1em; 
    margin-left: 1.1em; 
    margin-right:1.1em; 
    min-width: 93%; 
    width: auto; 
}

.entrepot_services_log_et_clients_label{
    font-size: 0.8rem;  
    color: $dark-grey; 
    
}

.entrepots_stockage_elements_securite_select{
    margin-top: 1em; 
    height: 3em
}


// IT et Certifications
.entrepot_lign_checkbox{
    display: flex; 
}
.entrepot_checkbox{
    flex: 1; 
    margin-left: 1.1em; 
    margin-top: 0.5em; 
}
.entrepot_checkbox_input{
    flex: 10; 
    text-align: left; 
    font-size: 0.8rem; 
    color: $dark-grey;     
}

.entrepot_box_small{
    min-height: 5em; 
}
