.entrepot_contact_valider_modifications{
    background-color: #16376D;
    color:white;
    margin: 0 0 20px 40px;
    border:none;
    padding:15px;
    font-weight: 500;
    border-radius:5px;
    cursor:pointer;
}