// Main Containers: 

.entrepot_infos_main_container{
    display: flex; 
}

.entrepot_infos_container_gauche{
    flex: 2; 
    text-align: center; 
}
.entrepot_infos_container_droite{
    flex: 1.5; 
    text-align: center; 
}


// Resume: 
.entrepot_infos_resume_subcontainer{
    display: flex; 
    padding:0.5em 0.7em 0.5em 0.7em;
}

.entrepot_infos_resume_column{
    flex: 1; 
    text-align: left; 
}
.entrepot_infos_resume_label{
    font-size: 0.8em; 
    font-weight: 500; 
    height: 1.7em; 
    flex: 2; 
}
.entrepot_infos_resume_label_edit{
    flex: 2; 
    font-size: 0.8rem; 
    font-weight: 500; 
    height: 1.7em;     
}
.entrepot_infos_resume_text{
    font-size: 0.8em; 
    font-weight: 400; 
    height: 1.7em; 
    flex: 2;     
}
.entrepot_infos_resume_column_edit{
    display: inline-block; 
    flex: 1; 
    text-align: left; 
}

.entrepot_infos_input_resume{
    flex: 1.5; 
    height: 1.5rem; 
    padding-top: 0.5em; 
    margin-right: 1em; 
    max-width: 9em; 
    font-size: 0.8em; 
}
.entrepot_infos_resume_lign{
    display: flex; 
}


// Description
.entrepot_infos_description_box{
    flex: 1; 
    margin-left: 8%; 
    overflow:hidden;
    position: relative;
    min-height: 6rem; 
}
.entrepot_input_description{
    min-height: 5em; 
    margin: 1em ; 
    width: 90%; 
}
.entrepot_infos_description_label{
    font-size: 0.8rem; 
    font-weight: 400; 
    min-height: 1.6em;       
    text-align: left; 
    padding:1em 3em 1em 1em ;
    margin-left: 1em; 
}

// Disponibilité: 
.entrepot_infos_dispo_box{
    flex: 1; 
    overflow:hidden;
    position: relative;
    min-height: 6rem; 
}


// Images: 
.entrepot_infos_title_images{
    font-size: 0.9rem; 
    color: $dark-grey;
    text-align: center; 
    margin-left: 3em; 
    font-weight: 500;  
    margin-top: 1.5em; 
    margin-bottom: 0.5em
}

.entrepot_infos_container_images{
    width: 100%; 
    margin: auto; 
    display: flex;     
    max-height: 15rem; 
    padding-left: 1.5em; 

}
.entrepot_infos_button_image{
    flex: 1;
    margin-left: 0.2em; 
    margin-right: 0.2em; 
    border:none;
    background-color: transparent;
    cursor:pointer;
    font-size:25px;
    width: 5%; 

}
.container_entrepot_infos_button_image{
    width: 5%; 
}

.entrepot_infos_button_image:focus{
    outline: none;
}

.entrepot_infos_images{
    height: auto; 
    border-radius: 5px; 
    border: 1.5px solid transparent; 
    width: 90%; 
    flex: 10
}

.fiche_entrepot_ajout_image_dropzone{
    height: 3em; 
    width: 50%; 
    color: white; 
    background-color: $dark-blue; 
    font-size: 0.9rem; 
    margin: 1rem auto; 
    border-radius: 5px;
    margin-left: 7.5em;  
}

.fiche_entrepot_ajout_image_dropzone_text{
    font-size: 1em; 
    padding-top: 1em ; 

}