$white: #000000; 
$main-green: #6AE4BC; 
$main-blue: #4A86E8; 
$dark-grey : #2C3E50; 
$middle-grey: #82888A;
$light-grey: #DDDDDD; 
$dark-blue: #16376D; 
$grey-background: #EAEAEA;
$very-light-blue: #F2F6F6; 
$green-2: #63BB7B; 
$yellow: #F8D03A;
$telephone_max:576px;
$orange: #E5690F; 
$very-dark-blue: rgb(11, 31, 63);

$tablette_min:577px;
$tablette_max:992px;

$ordi_min:993px;



* {
	font-family: 'Montserrat';
}